<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeterBeater WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MeterBeater.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - MeterBeater WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>114C145F1BAE56490057529D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>114C14761BAE56490057529D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>114C14811BAE56490057529D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>114C14A41BAE56520057529D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
